# Ignore Gradle project-specific cache directory
**/.gradle/*

# Ignore Gradle build output directory
**/build/*
**/bin/*

# Ignore VS Code folder
**/.vscode/*

# Ignore 102 generated output text file
102-advanced-mvc/src/main/resources/out.txt